<div class="row news-item padding-bottom-15">
{{#events}}
  <div class="timeline-item">
    <p class="margin-bottom-0">

     {{#registration}}
       <a class="fw-700" href="{{ registration }}">{{ title }}</a>
     {{/registration}}

     {{^registration}}
       <span class="fw-700">{{ title }}</span>
     {{/registration}}

    </p>
    <p class="timeline-date">{{ date }}</p>
  </div>
{{/events}}
</div>