<div id="join_group" class="featured-section featured-section-contact-form container text-center">
  <h2>HOW TO JOIN THE WORKING GROUP</h2>
  <div class="row">
    <div class="col-sm-8">
      <img class="featured-section-contact-form-image" src="images/sparkplug/join/step1.png" alt="1. Meet the community">
    </div>
    <div class="col-sm-8">
      <img class="featured-section-contact-form-image" src="images/sparkplug/join/step2.png" alt="2. Become a Member">
    </div>
    <div class="col-sm-8">
      <img class="featured-section-contact-form-image" src="images/sparkplug/join/step3.png" alt="3. Have an impact">
    </div>
  </div>
  
  <ul class="list-inline">
    <li><a class="btn btn-primary featured-section-contact-btn" href="https://app.slack.com/client/TSU5P680K/learning-slack">Meet us on Slack</a></li>
    <li><a class="btn btn-primary featured-section-contact-btn" href="https://accounts.eclipse.org/mailing-list/sparkplug-wg">Sign up for our Mailing List</a></li>
  </ul>
</div>