<div class="row featured-section featured-section-diagrams">
  <div class="container">
    <div class="col-sm-18 col-sm-offset-3">
      <div class="margin-bottom-60">
        <div class="row">
          <div class="col-sm-18 col-sm-offset-3">
            <h2>WHY STRUGGLE WITH COMPLICATED ARCHITECTURES AND CUSTOM CONNECTIONS?</h2>
          </div>
        </div>
        <p><img class="img-responsive" src="images/sparkplug/diagrams/diagram-1.png" alt="Picture 1"></p>
      </div>
      
      <div class="margin-bottom-60">
        <div class="col-sm-18 col-sm-offset-3">
          <h2>MQTT SPARKPLUG CUTS THE COMPLEXITY AND ELIMINATES THE MESS!</h2>
        </div>
        <p><img class="img-responsive" src="images/sparkplug/diagrams/diagram-2.png" alt="Picture 2"></p>
      </div>
      
      <div class="col-sm-12 col-sm-offset-6">
        <h2>WHAT DO YOU NEED FOR 'PLUG AND PLAY' IIoT?</h2>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <img class="featured-section-diagrams-img" src="images/sparkplug/diagrams/single-source-of-truth.png" alt="Single source of truth">
          <h3>SINGLE SOURCE of TRUTH</h3>
          <p class="featured-section-diagrams-text">Configure process variables one time at the source and deploy to the entire enterprise</p>
        </div>
        <div class="col-sm-8">
          <img class="featured-section-diagrams-img" src="images/sparkplug/diagrams/decoupled-data.png" alt="Decoupled data">
          <h3>DECOUPLED DATA</h3>
          <p class="featured-section-diagrams-text">No longer maintain custom connections between various data sources</p>
        </div>
        <div class="col-sm-8">
          <img class="featured-section-diagrams-img" src="images/sparkplug/diagrams/immediate-discovery.png" alt="Immediate discovery">
          <h3>IMMEDIATE DISCOVERY</h3>
          <p class="featured-section-diagrams-text">New machine and sensor data becomes immediately available to all subscribers</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
          <img class="featured-section-diagrams-img" src="images/sparkplug/diagrams/inherited-security.png" alt="Inherited security">
          <h3>INHERITED SECURITY</h3>
          <p class="featured-section-diagrams-text">Leverages TLS for data transport and requires no open port for edge of network devices</p>
        </div>
        <div class="col-sm-8">
          <img class="featured-section-diagrams-img" src="images/sparkplug/diagrams/state-awareness.png" alt="State awareness">
          <h3>STATE AWARENESS</h3>
          <p class="featured-section-diagrams-text">Birth and death certificates provide subscribing clients confidence in data validity</p>
        </div>
      </div>
    </div>
  </div>
</div>
