<div class="featured-section featured-section-book container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2 featured-section-book-content">
      <p class="margin-bottom-40">Learn more about the key benefits of Eclipse Sparkplug membership and how you can contribute to the Sparkplug working&nbsp;group.</p>
      <p><a class="btn btn-primary" href="https://f.hubspotusercontent10.net/hubfs/5413615/sparkplug-member-prospectus%202020.pdf">Download Now</a></p>
    </div>
    <div class="col-sm-10">
      <img class="img-responsive" src="images/sparkplug/book/guide.jpg" alt="Book">
    </div>
  </div>
</div>